* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  --bg-color: #00082f;
  --text-color: #00082f;
}

a {
  text-decoration: none;
}
body {
  background: #add8e6;
  font-family: "Roboto", sans-serif;
}

.container {
  text-align: center;
  width: 400px;
  margin: 60px auto;
}
header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
}
.header-menu {
  display: flex;
  box-sizing: border-box;
  margin-right: 15px;
  align-items: center;
  text-align: center;
  justify-content: space-between;
}
.header-menu h1 {
  display: flex;
  padding: 5px 10px 15px 0;
  align-items: left;
}
.links-theme {
  display: flex;
  padding: 15px;
  margin: 0 10px 0 10;

  align-items: end;
  justify-content: space-between;
}

.links-theme #pink {
  background: #ffc0cb;
  color: #fff;
  padding: 5px;
  margin-left: 10px;
  align-items: center;
  text-align: center;
  justify-content: space-between;
  font-size: 14px;
  border: 2px solid #000;
  border-radius: 10px;
  transition: 2s;
}
.links-theme #pink a {
  color: #000;
}
.links-theme #pink:hover {
  background-color: #fff;
  color: #000;
}
.links-theme #blue {
  background: #364fc7;
  color: #00082f;
  margin-left: 10px;
  align-items: center;
  text-align: center;
  justify-content: space-between;
  font-size: 14px;
  border: 2px solid #000;
  border-radius: 10px;
  padding: 5px;
  transition: 2s;
}
.links-theme #blue a {
  color: #fff;
}
.links-theme #blue:hover {
  background-color: #fff;
  color: #000;
}
.links-theme #black {
  background: #000;
  color: #fff;
  padding: 5px;
  margin-left: 10px;
  align-items: center;
  text-align: center;
  justify-content: space-between;
  font-size: 14px;
  border: 2px solid #000;
  border-radius: 10px;
  transition: 2s;
}
.links-theme #black a {
  color: #fff;
}
.links-theme #black:hover {
  background-color: #fff;
  color: #000;
}
.links-theme #home {
  background: #364fc7;
  color: #00082f;
  margin-left: 10px;
  align-items: center;
  text-align: center;
  justify-content: space-between;
  font-size: 14px;
  border: 2px solid #000;
  border-radius: 10px;
  padding: 5px;
  transition: 2s;
}
.links-theme #home a {
  color: #fff;
}
.links-theme #home:hover {
  background-color: #fff;
  color: #000;
}
img {
  width: 100%;
}

img.avatar {
  border-radius: 50%;
  width: 100px;
  height: 100px;
  padding: 3.7px;
  border: #4263eb solid 4px;
}

h1 {
  font-size: 32px;
  color: #00082f;
  margin-top: 24px;
  margin-bottom: 8px;
}
.username {
  font-family: "Roboto", monospace;
  font-weight: 400;
  color: #00082f;
  opacity: 0.8;
  font-size: 18px;
}
ul {
  list-style: none;
  margin: 48px 0;
}

ul li a {
  height: 53px;
  display: flex;
  align-items: center;
  justify-content: center;
  background: #4263eb;
  margin-bottom: 16px;
  color: #fff;
  text-transform: uppercase;
  font-size: 14px;
  border-radius: 6px;
  transition: background 400ms;
}
ul li a:hover {
  background: #364fc7;
}
footer {
  font-weight: 500;
  font-size: 12px;
  color: #364fc7;
  opacity: o.6;
  transition: opacity 400ms;
}

footer:hover {
  opacity: 1;
}
footer a {
  color: #364fc7;
}
